<p id="notice"><%= notice %></p>

<h1>Experience Removals</h1>

<table>
  <thead>
    <tr>
      <th>Experience</th>
      <th>Removed experience</th>
      <th>Likelihood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experience_removals.each do |experience_removal| %>
      <tr>
        <td><%= experience_removal.experience %></td>
        <td><%= experience_removal.removed_experience %></td>
        <td><%= experience_removal.likelihood %></td>
        <td><%= link_to 'Show', experience_removal %></td>
        <td><%= link_to 'Edit', edit_experience_removal_path(experience_removal) %></td>
        <td><%= link_to 'Destroy', experience_removal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience Removal', new_experience_removal_path %>
