<p id="notice"><%= notice %></p>

<h1>Experience Predecessors</h1>

<table>
  <thead>
    <tr>
      <th>Experience</th>
      <th>Previous experience</th>
      <th>Likelihood change</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experience_predecessors.each do |experience_predecessor| %>
      <tr>
        <td><%= experience_predecessor.experience %></td>
        <td><%= experience_predecessor.previous_experience %></td>
        <td><%= experience_predecessor.likelihood_change %></td>
        <td><%= link_to 'Show', experience_predecessor %></td>
        <td><%= link_to 'Edit', edit_experience_predecessor_path(experience_predecessor) %></td>
        <td><%= link_to 'Destroy', experience_predecessor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience Predecessor', new_experience_predecessor_path %>
