<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :currency_id %>
    <%= f.text_field :currency_id %>
  </div>

  <div class="field">
    <%= f.label :desire_to_uk %>
    <%= f.number_field :desire_to_uk %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
