<!DOCTYPE html>
<html>
  <head>
    <title>SMS Adventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body<%= 'class="predecessor"'.html_safe if controller_name == 'experience_predecessors' %>
>
    <%= yield %>
  </body>
</html>
